@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

/* 기본 스크롤 바 START*/
::-webkit-scrollbar {
	width: 8px; /* 스크롤바의 너비 */
}

::-webkit-scrollbar-thumb {
	background-color: #424040; /* 스크롤바의 색상 (검정색) */
	border-radius: 10px; /* 스크롤바의 모서리 둥글게 */
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1); /* 스크롤바 트랙 색상 */
}
/* 기본 스크롤 바 END*/

/* Profile Scroll-bar START*/
.custom-scrollbar::-webkit-scrollbar {
	width: 8px; /* 스크롤바의 너비 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #68baf8; /* 스크롤바의 색상 */
	border-radius: 10px; /* 스크롤바의 모서리 둥글게 */
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1); /* 스크롤바 트랙 색상 */
}
/* Profile Scroll-bar END*/

/* 스타 START */
.star-rating__foreground {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	transition: width 1.5s ease-in-out;
}
/* 스타 END */

@layer components {
	.gradient-button-1 {
		background: linear-gradient(98.49deg, #a913f9 -11.31%, #9d3d81 76.26%);
	}

	.gradient-button-2 {
		background: linear-gradient(98.49deg, #a913f9 -11.31%, #3f5efb 76.26%);
	}

	.gradient-carousel {
		background: linear-gradient(98.49deg, #a913f9 -11.31%, #f913c4 76.26%);
	}

	.gradient-desc-title {
		background: linear-gradient(98.49deg, #a913f9 -11.31%, #fc466b 76.26%);
	}

	.gradient-profile-banner {
		background: linear-gradient(116.85deg, #b514f1 0%, #0ba9ff 100%);
	}

	.gradient-filter {
		background: linear-gradient(116.85deg, #3f1c24 0%, #262038 100%);
	}

	/*.gradient-filter-1 {*/
	/*	background: linear-gradient(116.85deg, #FC466B 0%, #3F5EFB 100%);*/
	/*}*/
}
